{% extends 'base.html.twig' %}

{% block title %}{{ 'Help'|trans }}{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group float-right">
            <a class="btn btn-outline-info" href="{{ path('page_edit', {'id': page.id}) }}">{{ 'Edit'|trans }}</a>
            {{ include('page/_delete_form.html.twig') }}
        </div>
    {% endif %}

    {% if page.title != 'default' %}
    <h2>{{ page.title }}</h2>
    {% endif %}

    {{ page.text|md2html }}

{% endblock %}
