{% extends 'base.html.twig' %}

{% block title %}{{ 'Help'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('page') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('page') }}
{% endblock %}

{% block body %}
    {{ wo_render_breadcrumbs() }}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group float-right">
            <a class="btn btn-outline-info" href="{{ path('page_edit', {'id': page.id}) }}">{{ 'Edit'|trans }}</a>
            {{ include('page/_delete_form.html.twig') }}
        </div>
    {% endif %}

    {% if page.title == 'default' %}
        <h2>{{ default_title ?? 'Wiki' }}</h2>
    {% else %}
        <h2>{{ page.title }}</h2>
    {% endif %}

    {{ page.text|md2html }}
    {#    <img src="https://drive.google.com/uc?id=1n1CYGNgd2Rsho7ABYnl72gKVx-8-R9Sf" alt="lala" style="width: 250px">#}

{% endblock %}
